@model BlogAM.Models.Investimento
@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

<div class="container">
    @using (Html.BeginForm("Editar", "Investimento"))
    {
        <h1>Editar</h1>
        <div class="row">
            ID @Model.Id
        </div>
        <div class="row">
            @Html.Label("Nome")
            @Html.TextBox("Nome")
        </div>
        <div class="row">
            @Html.Label("Descricao")
            @Html.TextArea("Descricao")
        </div>
        <div class="row">
            @Html.Label("Valor")
            @Html.TextBox("Valor")
        </div>
        <div class="row">
            @Html.Label("Beneficio")
            @Html.TextBox("Beneficio")
        </div>
        <div class="row">
            @Html.Label("QtdCotas")
            @Html.TextBox("QtdCotas")
        </div>
        <button type="submit">Editar</button>
    }
</div>