@model List<BlogAM.Models.Investimento>
@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm())
{
    <div>
        <h1>Cadastrar</h1>
        @Html.Label("Nome")
        @Html.TextBox("Nome")
        @Html.Label("Descricao")
        @Html.TextArea("Descricao")
        @Html.Label("Valor")
        @Html.TextBox("Valor")
        @Html.Label("Beneficio")
        @Html.TextBox("Beneficio")
        @Html.Label("QtdCotas")
        @Html.TextBox("QtdCotas")

        <button type="submit">Cadastrar</button>
    </div>
}
@using (Html.BeginForm("Index", "Investimento", FormMethod.Get))
{
    <div>
        <h1>Pesquisar</h1>
        @Html.Label("Nome")
        @Html.TextBox("NomePesquisa")
        <button type="submit">Pesquisar</button>
    </div>
}
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>Descricao</td>
            <td>Valor</td>
            <td>Beneficio</td>
            <td>QtdCotas</td>
        </tr>
    </thead>
    <tbody id="tabela">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nome</td>
                <td>@item.Descricao</td>
                <td>@item.Valor</td>
                <td>@item.Beneficio</td>
                <td>@item.QtdCotas</td>
                <td>@Html.ActionLink("Editar", "Editar", new { id = @item.Id }, new { @class = "btn btn-primary" })</td>
                <td><button onclick="tbxId.value = @item.Id" data-toggle="modal" data-target="#myModal">Deletar</button></td>
            </tr>
        }
    </tbody>
</table>




<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Confirmação</h4>
            </div>
            <div class="modal-body">
                Realmente dezeja deletar a notícia?
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("Deletar", "Investimento"))
                {
                    <input type="hidden" id="tbxId" name="tbxId" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-primary">Sim</button>

                }

            </div>
        </div>
    </div>
</div>



