@model List<BlogAM.Models.Noticia>
@{
    ViewBag.Title = "Noticias";
}
<section class="header">
  <div class="content">
    <h1 class="title">Notícias</h1>

    <div class="containter">
      @using (Html.BeginForm("Noticias", "Noticia", FormMethod.Get))
      {
          <div class="form -center">
            @Html.TextBox("Pesquisa", "", new { placeholder = "Procure pela notícia desejada!" })
            <button class="btn -green" type="submit">Pesquisar</button>
          </div>
      }
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="half-box">
      @foreach (var item in Model)
      {
          <div class="box">
            <div class="titulo">
              <h1>@item.Titulo</h1>
              <span>@item.Data</span>
            </div>
            <div class="content">
              <p>@item.Mensagem</p>
            </div>
            <div class="footer"><span>Autor: @item.Autor</span></div>
          </div>
      }
    </div>
  </div>
</section>