@model List<BlogAM.Models.Noticia>
@{
    ViewBag.Title = "Noticias";
}

<h2>Noticias</h2>
@using (Html.BeginForm("Noticias", "Noticia", FormMethod.Get))
{
    <div>
        <h1>Pesquisar</h1>
        @Html.Label("Pesquisar")
        @Html.TextBox("Pesquisa")
        <button type="submit">Pesquisar</button>
    </div>
}
<ul style="list-style-type:none">

    @foreach (var item in Model)
    {
        <li>
            <h2>@item.Titulo</h2>
            <p>
                @item.Mensagem
            </p>
            <p>@item.Autor - @item.Data</p>
        </li>
    }
</ul>