@model BlogAM.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<section class="header">
  <div class="content">
    <h1 class="title">Mudar Senha</h1>
  </div>
</section>

<section class="main">
  <section>
    <div class="container">
      <div class="form -body">
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="item">
              @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
              @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
            <div class="item">
              @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
              @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
            <div class="item">
              @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
              @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>

            <input type="submit" value="Mudar Senha" class="btn -green" />

        }
      </div>
    </div>
  </section>
</section>
