@model BlogAM.ViewModel.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

@if (Model.noticias.Count() > 0)
{
    <h3>Fique de olho nas noticias</h3>
    <div class="jumbotron">
        <h1>@Model.noticias[0].Titulo</h1>
        <p class="lead">@Model.noticias[0].Mensagem</p>
        <p>@Model.noticias[0].Autor - @Model.noticias[0].Data</p>
    </div>
    <div class="row">
        @for (int i = 1; i < 4; i++)
        {
            if (Model.noticias.Count - 1 >= i)
            {
                <div class="col-md-4">
                    <h2>@Model.noticias[i].Titulo</h2>
                    <p>
                        @Model.noticias[i].Mensagem
                    </p>
                    <p>@Model.noticias[i].Autor - @Model.noticias[i].Data</p>
                </div>
            }
        }
    </div>
}
@if (Model.investimentos.Count() > 0)
{
    <h3>Quer investir na nossa ideia?</h3>
    <div>
        <ul style="list-style-type:none">
                @foreach (var item in Model.investimentos)
                {
                    <li>
                        <h2>@item.Nome</h2>
                        <p>
                            @item.Descricao
                        </p>
                        <p>@item.Valor - @item.Beneficio</p>
                        @if (item.CotasRestantes > 0)
                        {
                            <p>cotas restantes: @item.CotasRestantes</p>
                            
                        }
                    </li>
                }
            @Html.ActionLink("Adquerir Cotas", "Cliente", "Cliente")
        </ul>
    </div>
}
        




    