<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - My ASP.NET Application</title>
  @if (Request.Path == "/")
  {
      @Scripts.Render("~/bundles/loader")
  }

  @Styles.Render("~/Content/styles")
  @Scripts.Render("~/bundles/scripts")

</head>
<body>
  @if (Request.Path == "/") { @Html.Partial("_Loader") }

  <nav class="navbar">
      <div class="nav-content">
        <div class="rightmenu">
          <img src="https://user-images.githubusercontent.com/13969702/31136935-fa6b3124-a83f-11e7-8711-dad1ed1d2203.png" alt="eventpayment logo">
        </div>
        <ul class="leftmenu">
          <li class="menuitem">@Html.ActionLink("Notícias", "Noticias", "Noticia")</li>
          @if (Request.IsAuthenticated)
          {
              <li class="menuitem">@Html.ActionLink("Escrever Noticia", "Index", "Noticia")</li>
              <li class="menuitem">@Html.ActionLink("Leeds", "Leeds", "Cliente")</li>
              <li class="menuitem">@Html.ActionLink("Manter Produtos", "Index", "Produto")</li>
              <li class="menuitem">@Html.ActionLink("Manter Invest", "Index", "Investimento")</li>
              <li class="menuitem">@Html.ActionLink("Invest feitos", "TotalInvestido", "Investimento")</li>
          }
          else
          {
              <li class="menuitem">@Html.ActionLink("Cadastrar", "Cliente", "Cliente")</li>
              <li class="menuitem">@Html.ActionLink("Inscrever-se", "Inscrito", "Cliente")</li>
          }
          @Html.Partial("_LoginPartial")
          <li class="mobile navButton" onclick="openNav()">☰</li>
        </ul>
      </div>
  </nav>
  <div class="side-nav">
    <div class="navitem -submenu">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">Fechar Menu</a>
    </div>
  </div>
  <div class="overlay"></div>
  @RenderBody()

  @RenderSection("scripts", required: false)
</body>
</html>
