@model BlogAM.ViewModel.ClienteViewModel
@{
    ViewBag.Title = "Cliente";
}

<h2>Cliente</h2>

@using (Html.BeginForm())
{
    <div>
        <h1>Cadastrar</h1>
        @Html.LabelFor(a => a.Cliente.Nome)
        @Html.TextBoxFor(a => a.Cliente.Nome)<br />
        @Html.LabelFor(a => a.Cliente.Email)
        @Html.TextBoxFor(a => a.Cliente.Email)<br />
        @Html.LabelFor(a => a.Cliente.Cidade)
        @Html.TextBoxFor(a => a.Cliente.Cidade)<br />
        @Html.LabelFor(a => a.Cliente.DataNascimento)
        @Html.EditorFor(a => a.Cliente.DataNascimento)<br />
        @Html.LabelFor(a => a.Cliente.CPF)
        @Html.TextBoxFor(a => a.Cliente.CPF)<br />
        @Html.LabelFor(a => a.Cliente.ReceberNoticiasEmail)
        @Html.EditorFor(a => a.Cliente.ReceberNoticiasEmail)<br />
        @Html.LabelFor(a => a.Cliente.numeroCartao)
        @Html.TextBoxFor(a => a.Cliente.numeroCartao)<br />
        @Html.DropDownListFor(x => x.SelectedItemId, new SelectList(Model.Investimentos, "Id", "Nome",Model.selecao))<br />
        @Html.LabelFor(a => a.Quantidade)
        @Html.EditorFor(a => a.Quantidade)<br />
        <button type="submit">Cadastrar</button>
    </div>
}
<hr />