@model BlogAM.Models.Cliente
@{
    ViewBag.Title = "Editar";
}

<section class="header">
  <div class="content">
    <h1 class="title">Editando cliente #@Model.ID</h1>
  </div>
</section>

<section class="main">

  <section>
    <div class="container">
      <div class="form -body">
        @using (Html.BeginForm("Editar", "Cliente"))
        {
            <div class="item">
              @Html.LabelFor(a => a.Nome)
              @Html.TextBoxFor(a => a.Nome)
            </div>
            <div class="item">
              @Html.LabelFor(a => a.Email)
              @Html.TextBoxFor(a => a.Email)
            </div>
            <div class="item">
              @Html.LabelFor(a => a.Cidade)
              @Html.TextBoxFor(a => a.Cidade)
            </div>
            <div class="item">
              @Html.LabelFor(a => a.CPF)
              @Html.TextBoxFor(a => a.CPF)
            </div>
            <div class="item">
              @Html.LabelFor(a => a.numeroCartao)
              @Html.TextBoxFor(a => a.numeroCartao)
            </div>
            <div class="item">
              @Html.LabelFor(a => a.ReceberNoticiasEmail)
              @Html.CheckBoxFor(a => a.ReceberNoticiasEmail)
            </div>
            <button class="btn -green" type="submit">Editar</button>

        }
      </div>
    </div>
  </section>
</section>