@model BlogAM.Models.Cliente
@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>


<div class="container">
    @using (Html.BeginForm("Editar", "Cliente"))
    {
        <h1>Editar</h1>
        <div class="row">
            ID @Model.ID
        </div>
        <div class="row">
            @Html.LabelFor(a => a.Nome)
            @Html.TextBoxFor(a => a.Nome)
        </div>
        <div class="row">
            @Html.LabelFor(a => a.Email)
            @Html.TextBoxFor(a => a.Email)
        </div>
        <div class="row">
            @Html.LabelFor(a => a.Cidade)
            @Html.TextBoxFor(a => a.Cidade)
        </div>
        <div class="row">
            @Html.LabelFor(a => a.CPF)
            @Html.TextBoxFor(a => a.CPF)
        </div>
        <div class="row">
            @Html.LabelFor(a => a.numeroCartao)
            @Html.TextBoxFor(a => a.numeroCartao)
        </div>
        <div class="row">
            @Html.LabelFor(a => a.ReceberNoticiasEmail)
            @Html.CheckBoxFor(a => a.ReceberNoticiasEmail)
        </div>
         <button type="submit">Editar</button>

    }
</div>